/* 팝업 시작 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  color: #363636;
}

body.Bg-active {
  overflow: hidden;
}

.Bg {
  width: 1920px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  z-index: 1000;
}

.Bg.active {
  visibility: visible;
}

.Popup {
  position: absolute;
  left: 20%;
  bottom: 30%;
}

.Popup .PopupArea img {
  display: flex;
  width: 34px;
  height: 34px;
}

.Popup .PopupArea div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

.Popup .PopupArea {
  width: 1150px;
  height: 364px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: white;
}

.Popup .PopupArea img {
  margin: 20px 0 20px 1050px;
}

.Popup .PopupArea > div {
  border: 1px solid #b7b7b7;
  width: 1148px;
  margin-bottom: 30px;
}

.Popup .PopupArea > form > div {
  font-size: 28px;
  font-weight: 900;
}

.Popup .PopupArea > form > div input {
  width: 988px;
  height: 59px;
  border-radius: 10px;
  border: 1px solid #b7b7b7;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 18px;
}

.Popup .PopupArea > form button {
  width: 140px;
  height: 50px;
  color: white;
  font-size: 24px;
  font-weight: 900;
  border-radius: 10px;
  border: none;
  background-color: #ff0844;
}

.Popup .PopupArea > form div > div {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-self: flex-start;
  color: #ff0844;
}
/* 팝업 끝 */

/* Mobile 팝업 시작 */

.Mobile .Bg-m {
  width: 402px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  visibility: hidden;
}

.Bg-m.active {
  visibility: visible;
}

.Mobile .Popup {
  position: absolute;
  left: 5%;
  bottom: 40%;
  background-color: white;
}

.Mobile .Bg-m .Popup .clear-m {
  width: 34px;
  padding: 10px 0;
  margin-left: 320px;
}

.Mobile .Popup .PopupArea div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

.Mobile .Popup .PopupArea {
  width: 366px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: white;
}

.Mobile .Popup .PopupArea > div {
  border: 1px solid #b7b7b7;
  width: 365px !important;
  margin-bottom: 30px;
}

.Mobile .Popup .PopupArea > form > div {
  font-size: 18px;
  font-weight: 900;
}

.Mobile .Popup .PopupArea > form > div input {
  width: 290px;
  height: 59px;
  border-radius: 10px;
  border: 1px solid #b7b7b7;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 18px;
}

.Mobile .Popup .PopupArea > form button {
  width: 97px;
  height: 36px;
  color: white;
  font-size: 18px;
  font-weight: 900;
  border-radius: 10px;
  border: none;
  background-color: #ff0844;
}

.Mobile .Popup .PopupArea > form div > div {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-self: flex-start !important;
  color: #ff0844;
}
/* 팝업 끝 */
